<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BackupDirectory>C:\LocationOfBackup</BackupDirectory>
  <SourceDirectories>
    <Directory>C:\inetpub\wwwroot\site1</Directory>
    <Directory>C:\inetpub\wwwroot\site2</Directory>
  </SourceDirectories>
  <SQLServerDataSource>.\SQLExpress</SQLServerDataSource>
  <SQLServerUsername>sa</SQLServerUsername>
  <SQLServerPassword>password</SQLServerPassword>
  <SQLDatabaseNames>
    <Database>databasename1</Database>
    <Database>databasename2</Database>
    <Database>databasename3</Database>
  </SQLDatabaseNames>
  <BackupDays>5</BackupDays>
</configuration>